{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block body_class %}helpdesk{% endblock %}

{% block content %}
<h1 class="">{{ title }}</h1>
<hr />

<form style="width: 75%" class="form-horizontal" action="" method="post">{% csrf_token %}
    <fieldset>
    {# --- Task fields --- #}
    {% for field in task_form %}
        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
            <div class="col-xs-12">
            {{ field.label_tag }}
            {% if field.errors %}
                <div class="control-label">
                    <span class="sr-only">Error:</span>
                    {{ field.errors.as_text }}
                </div>
            {% endif %}
            {% if field.help_text %}
                <div class="control-label help">{{ field.help_text|safe }}</div>
            {% endif %}
            {{ field }}
            </div>
        </div>
    {% endfor %}
    <hr />

    {# --- Shift fields --- #}
    {{ shift_formset.management_form }}

    {% for shift_form in shift_formset %}
        <div class="formset form-group{% if forloop.counter > 3 and not shift_form.errors and not shift_form.cleaned_data %} hidden{% endif %}">
        {% for field in shift_form.visible_fields %}
            <div class="col-xs-3{% if field.errors %} has-error has-feedback{% endif %}">
                <small>{{ field.label_tag }}</small> {{ field }}
                {% if field.errors %}
                    <div class="control-label">
                        <span class="sr-only">Error:</span>
                        {{ field.errors.as_text }}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <div class="control-label help">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </fieldset>

    {% if is_createview %}
    <div class="form-group text-right">
        <div class="col-xs-12">
            <script>
            function add_more_shifts() {
                num_items_to_reveal = 3;
                for (i=0; i<num_items_to_reveal; i++) {
                    $('.formset.hidden').first().removeClass('hidden')
                }
                if ($('.formset.hidden').length == 0) {
                    $('#add3').remove();
                }
            }
            </script>
            <a href="" id="add3" onclick="add_more_shifts();return false;"><i class="fa fa-plus-circle fa-lg" style="color: green;"></i>
            </a>
        </div>
    </div>
    {% endif %}

    {# --- submit/cancel buttons --- #}
    <div class="form-group text-right">
        <div class="col-xs-12">
            <input class="btn btn-primary" type="submit" value="{{ submit_btn_text }}" name="save" />
            <a class="btn btn-default" href="{% url 'shift_management' %}" role="button">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}
